{# src/miXX/VitrineBundle/Resources/views/Demo/hello.html.twig #}
{% extends "mi03VitrineBundle::layout.html.twig" %}
{# override the body block from embedded.html.twig #}
{% block content %}
    <h1>{{ 'recap_commande'|trans }}</h1>
    <p>{{ 'message_confirm_commande'|trans }} :</p>
    <div class="row">
        <div class="input-field col s12">
            <input disabled value="{{ commande.id }}" id="numCommande" type="text" class="validate">
            <label for="numCommande">{{ 'num_commande'|trans }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input disabled value="{{ commande.client.nom }}" id="nomClient" type="text" class="validate">
            <label for="nomClient">{{ 'nom'|trans }}</label>
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            <input disabled value="{{ commande.client.mail }}" id="email" type="email" class="validate">
            <label for="email">{{ 'mail'|trans}}</label>
        </div>
    </div>
    </br>
    <p>{{ 'panier'|trans }}: </p>
    <div class="panierRecapCommande">
        <table>
            <thead>
            <tr>
                <th>{{ 'article'|trans }}</th>
                <th>{{ 'prix_unitaire'|trans }}</th>
                <th>{{ 'quantite'|trans }}</th>
            </tr>
            </thead>

            <tbody>
            {% for item in commande.ligneCommande %}
                <tr>
                    <td>{{ item.article.name }}</td>
                    <td>{{ item.priceArticle }}</td>
                    <td>{{ item.quantite }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
