{% extends 'mi03VitrineBundle::layout.html.twig' %}
{% block content %}
    <h1>Mes commandes</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Etat</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for commande in commandes %}
            <tr>
                <td><a href="{{ path('commande_show', { 'id': commande.id }) }}">{{ commande.id }}</a></td>
                <td>{{ commande.etat }}</td>
                <td>{% if commande.date %}{{ commande.date|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <a class="waves-effect waves-light btn" href="{{ path('commande_show', { 'id': commande.id }) }}">Voir</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
