<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Starter Template - Materialize</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ asset('bundles/mi03vitrine/css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset('bundles/mi03vitrine/css/panier.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset('bundles/mi03vitrine/css/commande.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{{ asset('bundles/mi03vitrine/css/gestionComptes.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <script src="{{ asset('bundles/mi03vitrine/scripts/jQuery-3.3.1.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/mi03vitrine/scripts/materialize.js') }}" type="text/javascript"></script>
</head>
<body>
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="{{ path('mi03_vitrine_homepage', { 'name': 'Fabien' }) }}">Accueil</a></li>
            <li><a href="{{ path('mi03_vitrine_mentions') }}">Mentions légales</a></li>
            <li><a href="{{ path('mi03_vitrine_catalogue') }}">Catalogue</a></li>
            <li><a href="#modal1" class="modal-trigger" data-target="apercuPanier">Panier</a></li>
            <li><a href="{{ path('mi03_clear_session') }}">Clear Session</a></li>
        </ul>

        <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<div class="container">
    {%  block content %}

    {% endblock %}
</div>

<!-- Modal Structure -->
<div id="apercuPanier" class="modal">
    {{ render(controller('mi03VitrineBundle:ApercuPanier:index')) }}
</div>

</body>
</html>

<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
</script>